.pokemonList {
  display: flex;
  width: calc(100vw - 4rem);
  flex-wrap: wrap;
}

.pokemon {
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  padding: 2px;
  text-decoration: none;
  width: 206px;
}

.pokemon img {
  width: 200px;
  height: 200px;
}