.typeChip {
  border-radius: 5px;
  color: white;
  padding: 1px 5px;
}

.typeChip.normal {
  background-color: var(--normal-bg-color);
}

.typeChip.fighting {
  background-color: var(--fighting-bg-color);
}

.typeChip.flying {
  background-color: var(--flying-bg-color);
}

.typeChip.poison {
  background-color: var(--poison-bg-color);
}

.typeChip.ground {
  background-color: var(--ground-bg-color);
}

.typeChip.rock {
  background-color: var(--rock-bg-color);
}

.typeChip.bug {
  background-color: var(--bug-bg-color);
}

.typeChip.ghost {
  background-color: var(--ghost-bg-color);
}

.typeChip.steel {
  background-color: var(--steel-bg-color);
}

.typeChip.fire {
  background-color: var(--fire-bg-color);
}

.typeChip.water {
  background-color: var(--water-bg-color);
}

.typeChip.grass {
  background-color: var(--grass-bg-color);
}

.typeChip.electric {
  background-color: var(--electric-bg-color);
}

.typeChip.psychic {
  background-color: var(--psychic-bg-color);
}

.typeChip.ice {
  background-color: var(--ice-bg-color);
}

.typeChip.dragon {
  background-color: var(--dragon-bg-color);
}

.typeChip.dark {
  background-color: var(--dark-bg-color);
}

.typeChip.fairy {
  background-color: var(--fairy-bg-color);
}