.table {
  border-spacing: 0;
  border: var(--outer-border);
  border-radius: 5px;
}

.th,
.td {
  padding: 5px 20px;
}

.th {
  background-color: purple;
  color: black;
}

.td {
  border-bottom: var(--td-border);
  border-right: var(--td-border);
}

.tr td:last-child {
  border-right: none;
}

.table tr:last-child td {
  border-bottom: none;
}

.table tr:nth-child(even) td {
  background-color: white;
}

.table tr:nth-child(odd) td {
  background-color: lightgray;
}

.expand {
  display: inline-block;
  transition: transform 100ms linear;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  margin-left: 5px;
  vertical-align: middle;
}

.expand.hidden {
  transform: rotate(180deg);
}