:root {
  --normal-bg-color: grey;
  --fighting-bg-color: orange;
  --flying-bg-color: deepskyblue;
  --poison-bg-color: blueviolet;
  --ground-bg-color: brown;
  --rock-bg-color: dimgray;
  --bug-bg-color: olive;
  --ghost-bg-color: purple;
  --steel-bg-color: cadetblue;
  --fire-bg-color: firebrick;
  --water-bg-color: dodgerblue;
  --grass-bg-color: green;
  --electric-bg-color: goldenrod;
  --psychic-bg-color: palevioletred;
  --ice-bg-color: lightblue;
  --dragon-bg-color: darkblue;
  --dark-bg-color: saddlebrown;
  --fairy-bg-color: pink;

  --bubble-radius: 25px;

  --electric-border-color: yellow;
  --normal-border-color: darkgray;
  --poison-border-color: purple;
  --fire-border-color: red;
  --water-border-color: blue;

  --td-border: 1px solid gray;
  --outer-border: 1px solid green;
}

#root {
  width: 100%;
}

#root>div {
  margin: 0 auto;
}